/* Breakpoints */
$extra-small: 500px;
$small: 600px;
$medium: 788px;
$large: 1100px;


/* Colors */
$blue: #3367A6; // menu: 0a4791
$yellow: #FDC514;
$grey: #8c8c8c; // menu: 8a8a8a or 999
$black: #4d4d4d; // links: 555
$grey-light: #f0f0f0;
$grey-line: #ccc;
$white: #FFF;



$font: 'Open Sans', sans-serif;
$box-shadow: 0px 0px 30px $grey-line;
